@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;500&family=Lato:ital,wght@0,100;;0,400;0,700;1,100&family=Rampart+One&display=swap");

:root {
  --font-kanit: "Kanit", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-rampart: "Rampart One", cursive;
}

.navbar-category {
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--font-kanit);
}

h2 {
  font-family: var(--font-lato);
}

h7 {
  font-size: 16px;
  font-family: var(--font-lato);
  font-weight: 400;
}

h6 {
  font-size: 16px;
  font-style: italic;
  font-family: var(--font-kanit);
}

h7 {
  font-size: 12px;
  font-family: var(--font-lato);
  font-weight: 400;
}

h8 {
  font-size: 11px;
  font-family: var(--font-lato);
  font-weight: 400;
}

li {
  list-style: none;
}

#jumbotron-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  align-items: center;
  overflow: hidden;
}

/* General styles */
.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-image {
  z-index: 1;
  width: 100%;
  max-width: 600px;
}

.carousel-text {
  z-index: 1;
  display: block;
  color: #000;
  text-align: center;
}

/* Styles for laptop and larger screens */
@media screen and (min-width: 1024px) {
  .carousel-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vw;
    z-index: 1;
  }

  .carousel-text {
    width: 70vw;
    height: 30vw;
    z-index: 1;
  }

  .carousel-image {
    width: 40vw; /* Adjust to your desired width */
    margin-top: 200px; /* Move the image down */
  }
}

.carousel-item:nth-child(1) .carousel-text {
  background-color: #c4a1a9;
}

.carousel-item:nth-child(2) .carousel-text {
  background-color: #ceb382;
}

/* Styles specific to tablets and mobile large */
@media screen and (max-width: 1023px) {
  .carousel-text,
  .carousel-image {
    width: 100%; /* Adjusted width to 100% */
  }
}

/* Styles specific to tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel-text {
    width: 70%; /* Set this to the width percentage you want for the image */
  }
  .carousel-image {
    width: 70%; /* Ensuring the image has the same width */
  }
}

.animated-text {
  display: inline-block;
  margin: 10px;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-delay: calc(0.5s * var(--animation-order));
  animation-iteration-count: infinite; /* Repeat indefinitely */
}

.slide-from-top {
  animation-name: slideTop;
  transform: translateY(-100%); /* start position */
}

.slide-from-bottom {
  animation-name: slideBottom;
  transform: translateY(100%); /* start position */
}

@keyframes slideTop {
  0%,
  85%,
  100% {
    transform: translateY(-100%);
  }
  15%,
  70% {
    transform: translateY(0);
  }
}

@keyframes slideBottom {
  0%,
  85%,
  100% {
    transform: translateY(100%);
  }
  15%,
  70% {
    transform: translateY(0);
  }
}

/* Setting the animation order */
.animated-text:nth-child(1) {
  --animation-order: 1;
}
.animated-text:nth-child(2) {
  --animation-order: 2;
}
.animated-text:nth-child(3) {
  --animation-order: 1;
}
