@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Lato:ital,wght@0,100;1,100&family=Luckiest+Guy&display=swap");

.navbar-category {
  font-size: 30px;
  text-transform: uppercase;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
  font-style: italic;
}

li {
  list-style: none;
}

/* CSS styles */
@media (min-width: 992px) {
  #navbarNav {
    display: flex !important;
  }

  .navbar-toggler {
    display: none;
  }
}
